* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 70px;
  margin: 0 auto;
  background-color: #ec715f
}

.header-nav {
  width: 1024px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

.header-image {
  height: 70px;
}

.nav-list {
  display: flex;
}

.nav-list-item {
  list-style: none;
  font-size: 16px;
  color: #fafafa;
  margin: 0 30px;
  line-height: 70px;
}

.nav-list-item a {
  color: #fafafa;
}

a {
  text-decoration: none;
}

.main-visual {
  background-image: url(img/mv.png);
  height: 650px;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.main-title {
  text-align: center;
  padding-top: 200px;
}

.main-title h1 {
  font-size: 64px;
  color: #fafafa;
}

.main-title p {
  font-size: 20px;
  color: #fafafa;
  margin-top: 10px
}

/*------------------------------------------------------------------------------------------------*/

#portfolio {
  width: 100%;
  background-color: #eceff1;
}

.pf-container {
  width: 920px;
  margin: 0 auto;
}

.page-title {
  font-size: 32px;
  color: #000000;
  padding-top: 90px;
  text-align: center;
}

.page-title::after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  margin: 8px auto 0 auto;
  background-color: #ec715f;
}

.portfolio-text {
  text-align: center;
  font-size: 16px;
  color: #000000;
  margin: 30px 0 30px 0;
}

.portfolio-image {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 90px;
}

.p-image1 {
  width: 300px;
  height: 250px;
  margin: 0 10px 10px 0;
  background-image: url(img/sketch.jpg);
  background-size: cover;
  background-position: center;
}

.p-image2 {
  width: 300px;
  height: 250px;
  margin: 0 10px 10px 0;
  background-image: url(img/websuku.png);
  background-size: cover;
  background-position: center;
}

.p-image3 {
  width: 300px;
  height: 250px;
  margin: 0 0 10px 0;
  background-image: url(img/write.jpg);
  background-size: cover;
  background-position: center;
}

.p-image4 {
  width: 300px;
  height: 250px;
  margin-right: 10px;
  background-image: url(img/webcamp.png);
  background-size: cover;
  background-position: center;
}

.p-image5 {
  width: 300px;
  height: 250px;
  margin-right: 10px;
  background-image: url(img/talk.jpg);
  background-size: cover;
  background-position: center;
}

.p-image6 {
  width: 300px;
  height: 250px;
  background-image: url(img/webcamp-mother.png);
  background-size: cover;
  background-position: center;
}

/*-------------------------------------------------------------------------------*/

#feature {
  height: 300px;
}

#profile {
  height: 300px;
}

#contact {
  height: 300px;
}